* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v292_610 {
    width: 100%;
    height: 3804px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v292_611 {
    width: 100%;
    height: 777px;
    background: rgba(217, 231, 242, 1);
    opacity: 1;
    position: absolute;
    top: 194px;
    left: 0px;
    overflow: hidden;
}

.v292_612 {
    width: 319px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 206px;
    left: 190px;
    font-family: Cabin;
    font-weight: Medium;
    font-size: 64px;
    opacity: 1;
    text-align: center;
}

.v292_613 {
    width: 391px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 330px;
    left: 158px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v292_614 {
    width: 391px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 531px;
    left: 158px;
}

.v292_615 {
    width: 285px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 487px;
    left: 207px;
    font-family: Cabin;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v292_616 {
    width: 487px;
    height: 487px;
    background: url("../image/v292_616.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 720px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    overflow: hidden;
}

.v292_617 {
    width: 100%;
    height: 150px;
    background: url("../image/v292_617.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
}

.v292_618 {
    width: 100%;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v292_619 {
    width: 373px;
    color: rgba(0, 86, 149, 1);
    position: absolute;
    top: 37px;
    left: 55px;
    font-family: Knewave;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v292_620 {
    width: 140px;
    height: 150px;
    background: rgba(217, 231, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 580px;
    overflow: hidden;
}

.v292_621 {
    width: 58px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 63px;
    left: 621px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v292_622 {
    width: 140px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 720px;
    overflow: hidden;
}

.v292_623 {
    width: 140px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 860px;
    overflow: hidden;
}

.v292_624 {
    width: 140px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1000px;
    overflow: hidden;
}

.v292_625 {
    width: 140px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1140px;
    overflow: hidden;
}

.v292_626 {
    width: 94px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 63px;
    left: 743px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v292_627 {
    width: 85px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 63px;
    left: 887px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v292_628 {
    width: 73px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 63px;
    left: 1033px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v292_629 {
    width: 86px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 63px;
    left: 1167px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v292_630 {
    width: 100%;
    height: 516px;
    background: url("../image/v292_630.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1033px;
    left: 0px;
    overflow: hidden;
}

.v292_631 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 395px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_632 {
    width: 90px;
    height: 90px;
    background: url("../image/v292_632.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 25px;
    overflow: hidden;
}

.v292_633 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 90px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_634 {
    width: 90px;
    height: 90px;
    background: url("../image/v292_634.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 24px;
    overflow: hidden;
}

.v292_635 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 262px;
    left: 725px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_636 {
    width: 90px;
    height: 90px;
    background: url("../image/v292_636.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 24px;
    overflow: hidden;
}

.v292_637 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 262px;
    left: 1055px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_638 {
    width: 335px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 478px;
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.v292_639 {
    width: 394px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 109px;
    left: 432px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v292_640 {
    width: 90px;
    height: 88px;
    background: url("../image/v292_640.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 277px;
    left: 1079px;
    overflow: hidden;
}

.v292_641 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 20px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_642 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 0px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_643 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 319px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_644 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 646px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_645 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 403px;
    left: 970px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_646 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 329px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_647 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 660px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_648 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 460px;
    left: 968px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_121 {
    width: 100%;
    height: 516px;
    background: url("../image/v349_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1033px;
    left: 0px;
    overflow: hidden;
}

.v349_122 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 395px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_123 {
    width: 90px;
    height: 90px;
    background: url("../image/v349_123.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 25px;
    overflow: hidden;
}

.v349_124 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 90px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_125 {
    width: 90px;
    height: 90px;
    background: url("../image/v349_125.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 24px;
    overflow: hidden;
}

.v349_126 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 262px;
    left: 725px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_127 {
    width: 90px;
    height: 90px;
    background: url("../image/v349_127.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 24px;
    overflow: hidden;
}

.v349_128 {
    width: 140px;
    height: 116px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 262px;
    left: 1055px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_129 {
    width: 335px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 478px;
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.v349_130 {
    width: 394px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 109px;
    left: 432px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v349_131 {
    width: 90px;
    height: 88px;
    background: url("../image/v349_131.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 277px;
    left: 1079px;
    overflow: hidden;
}

.v349_132 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 20px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_133 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 0px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_134 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 319px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_135 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 402px;
    left: 646px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_136 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 403px;
    left: 970px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_137 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 329px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_138 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 459px;
    left: 660px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v349_139 {
    width: 309px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 460px;
    left: 968px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_649 {
    width: 100%;
    height: 43px;
    background: url("../image/v292_649.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v292_650 {
    width: 100%;
    height: 43px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v292_651 {
    width: 109px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 12px;
    left: 81px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v292_652 {
    width: 155px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 12px;
    left: 278px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v292_653 {
    width: 20px;
    height: 17px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 243px;
}

.v292_659 {
    width: 16px;
    height: 16px;
    background: url("../image/v292_659.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 47px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v349_294 {
    width: 89px;
    height: 22px;
    background: url("../image/v349_294.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 1061px;
    overflow: hidden;
}

.v349_293 {
    width: 89px;
    height: 22px;
    background: rgba(217, 231, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_295 {
    width: 51px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 4px;
    left: 17px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v349_296 {
    width: 96px;
    height: 22px;
    background: url("../image/v349_296.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 1165px;
    overflow: hidden;
}

.v349_297 {
    width: 96px;
    height: 22px;
    background: rgba(217, 231, 242, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v349_298 {
    width: 79px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 4px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
}

.v292_661 {
    width: 100%;
    height: 843px;
    background: rgba(176, 206, 227, 1);
    opacity: 1;
    position: absolute;
    top: 1610px;
    left: 0px;
    overflow: hidden;
}

.v292_662 {
    width: 244px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 59px;
    left: 518px;
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: left;
}

.v292_663 {
    width: 389px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 134px;
    left: 446px;
    font-family: Cabin;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v292_664 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 293px;
    left: 104px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_665 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 327px;
    left: 55px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_666 {
    width: 127px;
    height: 85px;
    background: url("../image/v292_666.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 432px;
    left: 274px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_667 {
    width: 131px;
    height: 87px;
    background: url("../image/v292_667.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 293px;
    left: 893px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_668 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 436px;
    left: 104px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_669 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 566px;
    left: 104px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_670 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 475px;
    left: 64px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_671 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 606px;
    left: 64px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_672 {
    width: 145px;
    height: 94px;
    background: url("../image/v292_672.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 422px;
    left: 893px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_673 {
    width: 149px;
    height: 97px;
    background: url("../image/v292_673.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 557px;
    left: 893px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_674 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 295px;
    left: 1042px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_675 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 436px;
    left: 1048px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_676 {
    width: 138px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 566px;
    left: 1059px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_677 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 338px;
    left: 1024px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_678 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 475px;
    left: 1030px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_679 {
    width: 219px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 606px;
    left: 1041px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_680 {
    width: 731px;
    height: 100%;
    background: url("../image/v292_680.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 328px;
    overflow: hidden;
}

.v292_681 {
    width: 138px;
    height: 92px;
    background: url("../image/v292_681.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 272px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_682 {
    width: 135px;
    height: 94px;
    background: url("../image/v292_682.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 274px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_683 {
    width: 100%;
    height: 445px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 3359px;
    left: 0px;
    overflow: hidden;
}

.v292_684 {
    width: 307px;
    height: 301px;
    background: url("../image/v292_684.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 72px;
    left: 825px;
    overflow: hidden;
}

.v292_685 {
    width: 172px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 21px;
    left: 18px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v292_687 {
    width: 20px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 234px;
    left: 22px;
}

.v292_688 {
    width: 16px;
    height: 16px;
    background: url("../image/v292_659.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 22px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v292_690 {
    width: 114px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 75px;
    left: 56px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v292_691 {
    width: 26px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 128px;
    left: 21px;
}

.v292_692 {
    width: 191px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 122px;
    left: 56px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v292_693 {
    width: 178px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 169px;
    left: 56px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v292_694 {
    width: 239px;
    color: rgba(176, 206, 227, 1);
    position: absolute;
    top: 216px;
    left: 54px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v292_696 {
    width: 406px;
    height: 295px;
    background: url("../image/v292_696.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 78px;
    left: 120px;
    overflow: hidden;
}

.v292_697 {
    width: 373px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 13px;
    left: 13px;
    font-family: Knewave;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v292_698 {
    width: 327px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 102px;
    left: 36px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v292_700 {
    width: 48px;
    height: 50px;
    background: url("../image/v292_700.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 223px;
    left: 175px;
    overflow: hidden;
}

.v292_701 {
    width: 24px;
    height: 25px;
    background: url("../image/v292_701.png");
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 13px;
    border: 1.5px solid rgba(255, 255, 255, 1);
}

.v292_702 {
    width: 48px;
    height: 50px;
    background: url("../image/v292_702.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1.5px solid rgba(255, 255, 255, 1);
}

.name {
    color: #fff;
}

.v292_704 {
    width: 100%;
    height: 253px;
    background: url("../image/v292_704.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2453px;
    left: 0px;
    overflow: hidden;
}

.v292_705 {
    width: 100%;
    height: 253px;
    background: rgba(0, 72, 124, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v292_706 {
    width: 138px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 184px;
    left: 95px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_707 {
    width: 59px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 135px;
    left: 126px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v292_708 {
    width: 59px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 141px;
    left: 466px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v292_709 {
    width: 59px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 146px;
    left: 806px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v292_710 {
    width: 59px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 146px;
    left: 1084px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.v292_711 {
    width: 138px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 182px;
    left: 409px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_712 {
    width: 138px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 186px;
    left: 767px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_713 {
    width: 138px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 180px;
    left: 1045px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
}

.v292_714 {
    width: 90px;
    height: 90px;
    background: url("../image/v292_714.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 110px;
    overflow: hidden;
}

.v292_715 {
    width: 100px;
    height: 104px;
    background: url("../image/v292_715.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 438px;
    overflow: hidden;
}

.v292_716 {
    width: 90px;
    height: 90px;
    background: url("../image/v292_716.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 798px;
    overflow: hidden;
}

.v292_717 {
    width: 100px;
    height: 100px;
    background: url("../image/v292_717.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 1059px;
    overflow: hidden;
}

.v292_718 {
    width: 100%;
    height: 542px;
    background: url("../image/v292_718.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2762px;
    left: 6px;
    overflow: hidden;
}

.v292_719 {
    width: 450px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 180px;
    left: 393px;
    font-family: Jockey One;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}

.v292_720 {
    width: 659px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 300px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.v292_721 {
    width: 145px;
    height: 143px;
    background: url("../image/v292_721.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 7px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_722 {
    width: 159px;
    height: 162px;
    background: url("../image/v292_722.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 358px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_723 {
    width: 150px;
    height: 143px;
    background: url("../image/v292_723.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 774px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_724 {
    width: 142px;
    height: 162px;
    background: url("../image/v292_724.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 361px;
    left: 783px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v292_725 {
    width: 366px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 174px;
    left: 107px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_726 {
    width: 366px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 414px;
    left: 107px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_727 {
    width: 366px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 160px;
    left: 907px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_728 {
    width: 366px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 425px;
    left: 913px;
    font-family: Cabin;
    font-weight: SemiBold;
    font-size: 15px;
    opacity: 1;
    text-align: center;
}

.v292_729 {
    width: 130px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 223px;
    left: 219px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_730 {
    width: 130px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 463px;
    left: 255px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: left;
}

.v292_731 {
    width: 130px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 223px;
    left: 1031px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_732 {
    width: 130px;
    color: rgba(0, 72, 124, 1);
    position: absolute;
    top: 477px;
    left: 1032px;
    font-family: Actor;
    font-weight: Regular;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_733 {
    width: 82px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 528px;
    left: 890px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_734 {
    width: 82px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 249px;
    left: 890px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_735 {
    width: 82px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 513px;
    left: 126px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}

.v292_736 {
    width: 82px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 254px;
    left: 126px;
    font-family: Cabin;
    font-weight: Bold;
    font-size: 10px;
    opacity: 1;
    text-align: center;
}
